//FONTS
=fontpath($name, $name1, $file)
	src: local($name), local($name1), url("../fonts/" + $file + ".woff2") format("woff2"), url("../fonts/" + $file + ".woff") format("woff")
=fontdefault($style, $weight, $name)
	font-family: $name
	font-style: $style
	font-weight: $weight


$familyGeometria: 'Geometria'
$familyLora: 'Lora'

//LORA
	
@font-face
	+fontdefault(normal, 700, $familyLora)
	+fontpath('Lora Bold', 'lora-bold', Lora-Bold)

//Geometria
    
@font-face
	+fontdefault(normal, 300, $familyGeometria)
	+fontpath('Geometria Light', 'geometria-light', Geometria-Light)

@font-face
	+fontdefault(normal, 400, $familyGeometria)
	+fontpath('Geometria', 'geometria', Geometria)

@font-face
	+fontdefault(normal, 700, $familyGeometria)
	+fontpath('Geometria Bold', 'geometria-bold', Geometria-Bold)