{% set exercise = [
    {
        img: 'analysis (1).png',
        title: 'Анализ мнений друзей и знакомых'
    },
    {
        img: 'sleep.png',
        title: 'Упражнение “Мечты предков”'
    },
    {
        img: 'analysis.png',
        title: 'Комплексный анализ историй успехов'
    },
    {
        img: 'yoga.png',
        title: 'Состояние потока'
    },
    {
        img: 'feedback.png',
        title: 'Соционический профиль'
    },
    {
        img: 'theatre.png',
        title: 'Работа с эмоциями и бессознательным'
    }
] %}
<section class="complex">
    <div class="complex__inner inner">
        <div class="complex__subtitle subtitle">что мы предоставляем</div>
        <h3 class="complex__title title title_md">Комплекс <span>упражнений</span></h3>
        <div class="complex__descr">
            <p>Система искусственного интеллекта выберет наиболее подходящие для Вас упражнения, проконтролирует их выполнение и выдаст всю информацию по поиску дела жизни</p>
        </div>
        <ul class="complex__list">
            {% for item in exercise %}
                <li class="complex__item">
                    <div class="exercise">
                        <div class="exercise__img" style="background-image: url(img/icon-bg.png)">
                            <img src="img/{{item.img}}" alt="icon">
                        </div>
                        <div class="exercise__text">
                            <h4 class="exercise__title title_sm">{{item.title}}</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe totam ex laborum sequi quia eaque.</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="complex__btn">
            <button type="button" class="btn btn_lg btn_orange">Попробовать одно упражнение бесплатно</button>
        </div>
    </div>
</section>