<header class="header">
    <div class="header__inner inner">
        <div class="header__left">
            <a href="#" class="header__logo">
				<div class="logo">MT</div>
				<div class="header__text">
                	<h1 class="header__title title title_main">МоиТаланты</h1>
                	<p>Определение талантов и сильных сторон</p>
            	</div>
			</a>
        </div>
        <div class="header__right">
            <a href="tel:+7 495 720-25-17" class="header__tel">+7 495 720-25-17</a>
            <div class="header__btn">
                <button type="button" class="btn btn_s">Заказать звонок</button>
            </div>
        </div>
    </div>
</header>