<section class="hero">
    <div class="hero__inner inner">
        {# <div class="hero__wrap"> #}
            <div class="hero__left">
                <h2 class="hero__title title title_lg">Узнай свои <span>таланты</span> и найди <span>дело</span> жизни!</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id officia perferendis aliquam assumenda repudiandae autem molestiae nulla maxime? Itaque modi eius similique officiis, illo assumenda debitis perferendis odio autem tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, impedit.</p>
                <div class="hero__btn">
                    <button class="btn btn_lg">Попробовать бесплатно</button>
                </div>
            </div>
            <div class="hero__right" style="background-image: url(img/pond.png)">
                {# <div class="hero__text"> #}
                    <p>Все мы гении. Но если вы будете судить рыбу по её способности взбираться на дерево, она проживёт всю жизнь, считая себя дурой.</p>
                    <div class="hero__caption">Альберт Энштейн.</div>
                {# </div> #}
            </div>
        {# </div> #}
    </div>
</section>