.btn
	display: inline-block
	border: none
	color: $white
	text-decoration: none
	background-color: $accent
	padding: 13px 26px
	font-size: 14px
	line-height: 1
	+geometria
	font-weight: 400
	border-radius: 30px
	text-align: center
	position: relative
	outline: none
	transition: background-color .3s, box-shadow .3s
	cursor: pointer
	+hover
		background-color: darken($accent, 5%)
		box-shadow: none
	+md
		font-size: 12px
		padding: 10px 20px
	&_lg
		font-size: 16px
		font-weight: 700
		padding: 22px 30px
		box-shadow: 0px 15px 20px 0px $shadow
		+md
			font-size: 14px
			padding: 14px 20px
		+sm
			padding: 14px 20px
	&_orange
		background-color: $orange