.header
	padding: 70px 0
	+lg
	    padding: 40px 0
	+sm
	    padding: 20px 0
	&__inner
	    display: flex
	    justify-content: space-between
	    align-items: center
	    +sm
	        flex-wrap: wrap
	&__logo
	    display: flex
	    align-items: center
	&__left
	    padding-right: 30px
	    +sm
	        padding: 0
	&__text
	    +sm
	        display: none
	&__right
	    display: flex
	    align-items: center
	    padding-left: 30px
	    +sm
	        flex-direction: column
	&__tel
		+f(18px, 700)
		+md
			font-size: 14px
		+sm
			padding-bottom: 3px
	&__btn
        margin-left: 15px
        +sm
            margin: 0


.logo
	display: block
	width: 68px
	height: 68px
	background-color: $accent
	text-align: center
	line-height: 68px
	+f(24px, 700)
	color: $white
	margin-right: 28px
	+md
		margin-right: 16px
		width: 54px
		height: 54px
		font-size: 20px
		line-height: 54px
		flex-shrink: 0